<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/mycss.css">
    <script type="text/javascript" src="/js/clock-timer.js"></script>
</head>
<body>
<div class="toeic_center">
    <div class="toeic_box_start">
        <div class="toeic_title">
            <center>Toeic Full Test</center>
        </div>
        <div class="space20"></div>
        <div>
            <p style="text-align:center; color:#C42D00">Bạn hãy click vào nút <b><i>Start</i></b> bên dưới để bắt đầu bài làm. Chúc
                các bạn đạt điểm số thật cao!</p>
        </div>
        <div class="space20"></div>
        <center>
            <button id="toeic_start" type="button" onclick="start()"></button>
            <form th:action="@{/full-test}" method="post">
                <input type="submit" name="Start">
            </form>
        </center>
    </div>
</div>
</body>
</html>