a {
    text-decoration: none;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    height: 30px;
    background-color: #4CAF50;
    color: white;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #f5f5f5;
}

th .center {
    text-align: center;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #f5f5f5;
}

th .center {
    text-align: center;
    padding: 8px;
}

.header {
    /*background-color: red;*/
    float: left;
    margin-top: 0px;
    padding: 8px;
}

.search {
    /*background-color: yellow;*/
    float: right;
    margin-top: 30px;
    padding: 8px;
    display: table;
}

.content {
    padding: 8px;
}

.footer {
    float: right;
    padding: 8px;
}

div .c {
    display: block;
}

.save {
    display: table;
}

div .form-example {
    display: table-row;
}

div .form-example {
    display: table;
}

label, input {
    display: table-cell;
    margin-bottom: 10px;
}

.pagination {
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    transition: background-color .3s;
    border: 1px solid #ddd;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}

<!-- Test Toeic  -->
.toeic_center{
    border: 1px solid #d6e4f1;
    width: 98%;
    display: block;
    float: right;
    position: relative;
}

.toeic_box_start{
    text-align: center;
    padding-bottom: 15px;
}

.toeic_title{
    /*background: #ff7e00;*/
    background: #118931;
    font-size: 18px;
    height: 40px;
    line-height: 40px;
    color: #fff;
    padding-left: 35px;
    font-weight: bold;
    display: block;
}

.space20{
    height: 20px;
    clear: both;
}

#toeic_start{
    background-color: rgba(0, 0, 0, 0);
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-image: url("images/start.png");
    background-size: auto;
    background-origin: padding-box;
    background-clip: border-box;

    border-top-color: currentcolor;
    border-top-style: none;
    border-top-width: 0px;
    border-right-color: currentcolor;
    border-right-style: none;
    border-right-width: 0px;
    border-bottom-color: currentcolor;
    border-bottom-style: none;
    border-bottom-width: 0px;
    border-left-color: currentcolor;
    border-left-style: none;
    border-left-width: 0px;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;

    height: 49px;
    width: 122px;
    cursor: pointer;
    margin-bottom: 20px;
}